
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bethany's Pie Shop</title>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <base href="/" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        nav{
            background-color: #DA8359;
            padding: 50px;
            padding-bottom:60px;
        }
    </style>
</head>
<body style="background-color:#FCFAEE;">
    <div class="conttainer">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Bethany's Pie Shop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Pie" asp-action="List">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="Pie" asp-action="Search">
                                <i class="material-icons">search</i>
                            </a>
                        </li>
                    </ul>
                    <vc:shopping-cart-summary></vc:shopping-cart-summary>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
        @RenderBody()
        @RenderSection("Scripts",required:false)
    </div>
</body>
</html>